@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700');

/* font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif; */

/* COLORS
#36343F dark grey
#043EF6 dark blue
#106EF5 lighter blue
#56F0D6 turkish
#BAF781 light green

#FF6819
#FF4519
#00f
*/

/* GLOBAL STYLES */

html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
#page {
  margin: 0;
}
.clearfix {
  overflow: auto;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  color: #000
}
h1 {
  font-size: 1.6em;
  margin: 0 0 1em 0;
}
h2 {
  font-size: 1.2em;
  margin-bottom: .5em;
}
h3 {
  font-size: .8em;
  color: #777;
  margin-top: 0;
}
h4 {
  font-size: .8em;
  margin: 0;
}
p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 1.1em;
  margin-top: 0em;
  line-height: 1.5em;
}
hr {
  border: 1px solid #000;
  width: 50px;
}
a {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1em;
  text-decoration: none;
  color: #000;
}
.heading-txt {
  padding-bottom: 2em;
}
a.target {
  font-size: 1em
}
a:hover {
  color: #000;
  background-color: #eee;
}
a:active {
  color: #000;
  background-color: #555;
}
.btn {
  display: block;
  position: relative;
  float: left;
  height: auto;
  width: 100%;
  padding: 1em 2em;
  border-radius: 50px;
  background-color: #00f;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  margin: 1em 0em;
}
.btn.border {
  border: 1px solid #00f;
  background-color: #fff;
  color: #00f;
}
.btn:hover {
  background-color: #FF6819;
}
.btn:active {
  background-color: #ff4519;
}
.underline {
    display: inline-block;
    position: relative;
  }
.underline::after{
  content: "";
  height: .3em;
  width: 30%;
  background: #00f;
  position: absolute;
  left: 0;
  bottom: -.8em;
  margin-bottom: 5px;
 }

/* HEADER*/


.logo {
  background-position:center;
  background-repeat: no-repeat;
  background-size: 3em;
  display: inline-block;
  float: left;
  height: 5em;
  width: 5em;
  background-color: #00F;
}
.logo-topp {
  display: block;
  width: 5em;
  height: 5em;

}

header h1 {
  display: inline-block;
  float: left;
  font-size: 1em;
  text-align: center;
  padding: 1em .8em;
  margin: 0px;
}

/* NAVIGATION */
.navbar {
    width: 100%;
    background-color: #F0F1F3;
    padding-right: 100px;
    border bottom: 2px solid #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 5em;
}

.navbar .icon {
    display: none;
}

.navbar ul {

    margin: 0;
    padding: 0px;

}


.navbar ul li {
    display: block;
 }

.navbar ul li a {
    float: right;
    padding: 20px;
    margin: 10px 0;
    font-weight: 700;
 }

.navbar ul li a:hover {
    background: #eee;
 }

.navbar ul li a:active {

    color: #EE8501;
 }


/* TOP-BANNER */
.topbanner{
  background-image: url(../images/science-museum-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  margin-top: 50px;

}
.banner-content {
  display:flex;
  position: absolute;
  width: 80%;
  min-height: 5em;
  justify-content: center;
  padding: 2em;
  margin-top: 200px;
  margin-left: 10%;
  background-color: #fff;
}
.bannertext h1 {
  font-size: 1.2em;
}


a.target {
  text-decoration: none;
  /* padding: 10px; */
  display: inline-block;
  float: left;
  width: 33.3%;
  min-height: 2.5em;
  padding: .7em;
  text-align: center;
  color: #fff;
}
a.target.kids {
  background-color: #00f;
}
a.target.teachers {
  background-color: #FF6819;
}
a.target.researchers {
  background-color: #3FCC14;
}
.explorers {
  margin-bottom: 50px;
}

/* EXHIBITIONS */

.exhibition-txt {
  /* margin-bottom: 3em; */
}
.exhibitions-list {
  /* margin-top: 3em; */
  padding-top: 3em;
}

.ex-btn {
  display: inline-block;
  position: relative;
  width: 100%;
  float: left;
  min-height: 8em;
  padding-top: 6em;
  justify-content: center;
  text-align: center;
  border: 1px solid #000;
  background-color: #fff;
  margin-top: -5px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center 20px;

}
.ex-btn.cosmology {
  background-image: url(../images/icons/cosmology.svg);
}
.ex-btn.evolution {
  background-image: url(../images/icons/evolution.svg);
}
.ex-btn.biology {
  background-image: url(../images/icons/biology.svg);
}
.ex-btn.robot {
  background-image: url(../images/icons/robot.svg);
  background-size: 50px;
}
.ex-btn.ecology {
  background-image: url(../images/icons/ecology.svg);
}
.ex-btn.young-stars {
  background-image: url(../images/icons/cosmology.svg);
}


/* NEWS AND EVENTS */

.news-events {
  background-color: #F0F1F3;
  min-height: 60em;
  padding: 7em 1em;
}
.container {
  display: block;
  width: 100%;
  min-height: 20em;
  background-color: #fff;
  margin-bottom: 2em;
  /* border: 1px solid red; */
}
.container-img {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 200em;
}

.container-txt {
  display: inline-block;
  padding: 2em;
  width: 100%;
  justify-content: center;
}

.container.two {
    min-height: 20em;
}


/* FOOTER */
.footer {
  display: block;
  position: relative;
  text-align: center;
  align-items: center;
  background-color: #fff;
  padding: 2.5em;
}
.wrap {
  margin: 3em 0em;
}
.icon {
  display: inline-block;
  text-indent: -120px;
  position: 0 0;
  padding: .7em .7em 0em .7em;
  margin: 0 .5em;
}
.button {
  display: inline-block;
  margin-top: 1em;
  width: 40%;
}

a.footer-btn {
    display: inline-block;
    position: relative;
}
a.map {
  display: inline-block;
  position: relative;
    background-image: url(../images/icons/map-small.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
  }
a.map:hover {
  background: url(../images/icons/map-small.svg) -40px 0;
  }
a.map:active{
  background: url(../images/icons/map-small.svg) -80px 0;
  }
a.e-mail {
  display: inline-block;
  position: relative;
  background-image: url(../images/icons/e-mail.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  }
.e-mail:hover {
    background: url(../images/icons/e-mail.svg) -40px 0;
    }
.e-mail:active{
background: url(../images/icons/e-mail.svg) -80px 0;
}

a.phone {
display: inline-block;
position: relative;
background-image: url(../images/icons/phone.svg);
background-position: 0 0;
background-repeat: no-repeat;
height: 40px;
width: 40px;
}
.phone:hover {
background: url(../images/icons/phone.svg) -40px 0;
}
.phone:active{
background: url(../images/icons/phone.svg) -80px 0;
}


.facebook {
  width: 40px;
  height: 40px;
  background: url(../images/icons/social-media/face-small.svg)
}
.facebook:hover {
  background: url(../images/icons/social-media/face-small.svg) -40px 0;
  }
.facebook:active{
    background: url(../images/icons/social-media/face-small.svg) -80px 0;
    }
.instagram {
width: 40px;
height: 40px;
background: url(../images/icons/social-media/insta-small.svg)
    }
.instagram:hover {
background: url(../images/icons/social-media/insta-small.svg) -40px 0;
}
.instagram:active{
background: url(../images/icons/social-media/insta-small.svg) -80px 0;
}
.twitter {
width: 40px;
height: 40px;
background: url(../images/icons/social-media/twitter-small.svg)
}
.twitter:hover {
background: url(../images/icons/social-media/twitter-small.svg) -40px 0;
}
.twitter:active{
background: url(../images/icons/social-media/twitter-small.svg) -80px 0;
                }
.linkedin {
width: 40px;
height: 40px;
background: url(../images/icons/social-media/linked-small.svg)
}
.linkedin:hover {
background: url(../images/icons/social-media/linked-small.svg) -40px 0;
}
.linkedin:active{
background: url(../images/icons/social-media/linked-small.svg) -80px 0;
}

#subscribe-form {
  display: block;
  position: relative;
  width: 100%;
  background-color: #00f;
  padding: 2em;
  border-top: 7px solid #FF6819;
  border-bottom: 7px solid #FF6819;
}
form h2 {
  color: #fff;
  margin-top: 0;
}

input {
 height: auto;
 width: 100%;
 background-color: #fff;
 padding: 1em 2em;
 border: 1px solid #00f;
 font-family: 'Lato', sans-serif;
 font-weight: 400;
 font-size: 1em;
 color: #888;
 text-align: start;
 display: inline-block;
 /* margin: 10px; */
}
input[type=text] {
    padding: 12px 20px;
}
input#submit {
    background: #FF6819;
    color: #fff;
    /* border: 1px solid #00f; */
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    text-align: center;
    margin-top: 1em;
    padding: 12px;
}
input:hover {
    background: #eee;
}
input:focus {
    background: #ddd;
    border: 2px #00f;
}
input#submit:hover{
    background-color: #ff6819;
}
input#submit:active{
    background-color: #ff4519;
}


/* EXIBITION PAGES */
.container-content {
    background-color: #F0F1F3;
}
h1.exhibition-h1 {
  color: #E6E6E8;
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 0;
}
.container.top  {
  display: block;
  width: 100%;
  min-height: 600px;
  margin-bottom: 0;
  margin-top: 5em;
}
.container-topcontent {
  padding: 2.5em;
  display: block;
  width: 100%;
  height: auto;
}
.top-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    margin-top: 5em;
  }


.squarebtn {
  display: inline-block;
  float: left;
  width: 25%;
  height: 4em;
  padding: 2em;
  background-color: #0B0C0E;
  text-align: center;
  }
.squarebtn a {
  width: 100%;
  height: 100%;
  padding: 1.3em;
  justify-content: center;
  }
.squarebtn.right, .squarebtn.left {
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  }
.squarebtn.right {
  background-image: url(../images/icons/arrow-right.svg);
}
.squarebtn.left {
  background-image: url(../images/icons/arrow-left.svg);
}
.squarebtn:hover {
  background-color: #00f;
}
.squarebtn:active {
  background-color: #FF4519;
}
.squarebtn.back-to {
  background-color: #FF6819;
  width: 50%;
  padding: 1.3em;
  text-decoration: underline;
}
.squarebtn.back-to:hover {
  background-color: #00F;
  color: #fff;
  text-decoration: underline;
}
.squarebtn.back-to:active {
  background-color: #FF4519;
  color: #fff;
}
.all-exhibitions {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #F0F1F3;
}
.all-exhibitions-btn {
  padding: 2.5em;
}
a.exhibition-btn {
  display: block;
  padding: 2.5em;
  text-align: center;
  border-top: 1px solid #0B0C0E;
  background-color: #969DA5;
}
a.exhibition-btn:hover {
  background-color: #00f;
  color: #fff;
}
a.exhibition-btn:active {
  background-color: #FF4519;
  color: #fff;
}
.exhibition-btn.active {
  background-color: #00f;
  color: #fff;
}

/* ABOUT PAGE */


.about-main {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 1em;
}
.about-img-large {
  display: block;
  width: 100%;
}
.img-large-two {
  display: none;
  width: 50%;
}
.img-large {
  display: inline-block;
  width: 100%;
}
.img-small {
  display: inline-block;
  width: 100%;
  margin: 2em 0;
}
.about-content{
  padding: 2.5em;
}

/* NEWSPAGE */
a.filter-btn {
  display: inline-block;
  width: 10em;
  font-size: .7em;
  padding: 1em;
  background-color: #00f;
  color: #fff;
  text-align: center;
  border-radius: 50px;
}



/* MEDIA QUERIES */
/*NAVIGATION*/

@media screen and (max-width:900px) {
    .icon {
        text-indent: 0;
        /* width: 100px; */
        height: auto;
    }
    .navbar {
        padding-right: 10px;
    }
    .navbar a {
        display: none;
    }
    .navbar a.icon {
        float: right;
        padding-right: 10px;
        display: block;
    }
    .navbar.responsive {
        position: relative;
        height: auto;
    }
    .navbar.responsive .nav-item {
        float: none;
        display: block;
        text-align: center;
        border-bottom: 1px solid #333;
        font-size: 2em;
    }
}
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        /* background-color: #333; */
    }




@media screen and (min-width:769px) {

  /* breadcrumbs */
  .breadcrumbs {
    background-color: #F0F1F3;
    padding-top: 7em;
    display: block;
    width: 100%;
  }

  .number, .rule, .site-title {
    display: inline-block;
    float: left;
    text-align: center;
    padding: .8em;
  }
  a.number {
    background-color: #0B0C0E;
    font-family: 'Playfair Display', serif;
    font-size: .8em;
    color: #fff;
  }

/* TOP-BANNER */
.topbanner{

  height: 35em;
  margin-top: 60px;

}
.banner-content {
  display:block;
  position: relative;
  width: 100%;
  min-height: 5em;
  padding: 20em 5em 2em 5em;
  margin: 60px 0 0 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}
.bannertext h1 {
  font-size: 3em;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}


/* EXPLORE */

a.target {
  min-height: 7em;
  padding: .7em;
}
a.target {
  font-size: 1.2em;
  padding-top: 6em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5em;
}
a.target.kids{
  background-image: url(../images/icons/kids.svg);
}
a.target.teachers {
  background-image: url(../images/icons/teachers.svg);
}
a.target.researchers {
    background-image: url(../images/icons/researchers.svg);;
}
.explorers {
  margin-bottom: 50px;
}

/* EXHIBITIONS */

.exhibitions {
  padding: 3em 7em 5em 7em;
}
.exhibition-txt {
  width: 70%;
  margin: 1em auto;
  text-align: center;
}
.underline::after{
  height: 1px;
  width: 33%;
  left: 33%;
  bottom: -.6em
}
.exhibitions-list {
  padding-top: .5em;
}
.ex-btn {
  width: 33.3%;
}



/* NEWS AND EVENTS */
.news-events {
  padding: 7em 2.5em;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0;

}
.container-img {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
}

.container-txt {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 4em;
}

.container.two {
  height: 100%;
}
.container-img.two {
  position: relative;
  /* left: 0; */
  height: 382.325px;
}
.container-txt.two {
  position: absolute;
  right: 0;
  padding: 4em;
}

.news {
 padding: 3em 7em;
}
.newsandevents-txt {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.article.one {
  width: 100%;
  display: block;
  position: relative;
  background-color: #eee;
  border: 1px solid red;
}
.article-img {
  width: 50%;
  display: inline-block;
  position: relative;
  float: left;
  height: 100%
}
.article-txt {
  width: 50%;
  display: inline-block;
  position: relative;
  float: left;
  padding: 2em;
}

/* SUBSCRIBE */
#subscribe-form{
  padding: 2em 15%;
}
form {
  width: 100%;
  text-align: center;
}
input {
 height: auto;
 width: 70%;
 padding: 1em 2em;

 font-size: 1em;

}

input#submit {
  width: 25%;
  font-size: 1em;
  font-weight: 600;
  padding: 12px 20px;
  margin-top: 1em;
}

/* FOOTER */
.footer {
  height: auto;
}
hr {
  display: none;
}

.center-logo {
  padding: 0 40%;
}

.address {
  width: 33.3%;
  display: inline-block;
  position: relative;
  float: left;
}
.address p {
  display: none;
}
.contact {
  width: 33.3%;
  display: inline-block;
  position: relative;
  float: left;
  /* text-align: left; */
}
/* .social-media-btns {
  width: 33.3%;
  display: inline-block;
  position: relative;
  float: left;
} */


/* EXHIBITIONS PAGES */
.container.top {
  margin-top: 5em;
}
.container-img.left {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
}
.container-content{
  width: 40%;
  display: inline-block;
  position: relative;
  float: left;
  background-color: #F0F1F3;
}
.container-topcontent {
  width: 100%;
  display: inline-block;
  position: relative;
  float: left;
  padding: 3em;
}
.container-buttons{
  width: 100%;
  display: inline-block;
  position: relative;
  float: left;
}
.squarebtn.back-to {
  margin-bottom: 0;
}
.all-exhibitions {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #969DA5;
}
.all-exhibitions-btn {
  padding: 0;
}
a.exhibition-btn {
  display: inline-block;
  float: left;
  width: 20%;
  height: auto;
  padding: 1em;
  border-left: 1px solid #0B0C0E;
  border-top: none;
}

/* ABOUT US */

.about-main {
  padding: 1em 5em;
}
.about-img-large{
  display: block;
  float: left;
  width: 100%;
  height: auto;
  padding:
}
.img-large {
  max-width: 100%;
  height: auto;
}

.img-small {
  width: 50%;
  display: inline-block;
  float: left;
  padding: 0 2.5em;
}
.about-content {
  display: block;
  width: 100%;
  padding: 2.5em 2.5em;
}
.about-txt-left {
  width: 50%;
  display: inline-block;
  float: left;
  padding: 0 2.5em;
}
.about-txt-right {
  width: 50%;
  display: inline-block;
  float: left;
  padding: 0 2.5em;

}

@media screen and (min-width:1100px) {

  /* ABOUT US */
  .about-main {
    padding: 7em;
  }

.about-img-large {
  width: 50%;
}
.img-large-two {
  display: block;
  width: 50%;
}
.about-content {
  width: 50%;
  padding-right: 0;
  padding-top: 0;
}
.about-img-small{
  display: none;
}
.about-txt-left, .about-txt-right {
  width: 100%;
  display: inline-block;
  padding-right: 0;
}
}
